build
dist
pupilio.egg-info
web_socket_server_runner
token
.idea
build.md
docs/build
pupilio/__pycache__
__pycache__
.pytest_cache
example/picture_viewing/calibration
example/picture_viewing/data
example/picture_viewing/log_et
example/event_detection/output
example/event_detection/output_test
example/data
example/picture_free_viewing/data
example/picture_free_viewing/log_et
example/html
example/log_et
docs/workflow.pptx
example/custom_config/calibration
example/custom_config/log_et
example/custom_config/eye_movement.csv
example/quick_start/log_et
example/play_ground.py
example/calibration_listener/uservo_listener.py
example/calibration_listener/eye_movement.csv
example/calibration_listener/log_et